@font-face {
    font-family: raleway;
    src: url(raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: ralewayel;
    src: url(raleway/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: ralewayitalic;
    src: url(raleway/Raleway-Italic.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}

.hero{ 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h1{
    text-align: center;
    font-size: 160px;
    font-family: raleway;
    color: #fff;
    font-weight: 600;
}

.content h2{
    font-size: 40px;
    font-family: ralewayel;
    color: #fff;
    font-weight: 600;
    padding-left: 275px;
}

.content h3{
    font-size: 40px;
    font-family: ralewayel;
    color: #fff;
    font-weight: 600;
    padding-left: 60px;
}

.content{
    text-align: center;
}

.button{
    position: relative;
    top: 20px;
}

.button:hover{
    -webkit-text-stroke: 1px #292929;
    color: #292929;
}

.content span{
    font-family: ralewayitalic;
    -webkit-appearance: none;
    display: inline-block;
    background: #3a3939;
    color: #fff;
    border: 10px solid #3a3939;
    height: auto;
    width: auto;
    padding: 0.6em 3em;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 1px;
    vertical-align: top;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; 
}

.back-video{
    position: fixed; 
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.shippingmessage{
  width: 100%;
  height: 100px;
  display: block;
  background-color: rgb(0, 0, 0);
}